[Desktop Entry]
Name=Bearthen
Comment=Read freely
Exec=qmlscene qml/Main.qml
Icon=assets/bearthen.png
Terminal=false
Type=Application
Categories=Education;Literature;
X-Ubuntu-Touch=true
X-Ubuntu-Default-Department-ID=utilities